#sobremim {
    background: var(--third-color);
    color: #f5f5f5;
    word-spacing: 5px;
    letter-spacing: 1px;
    min-height: 35vh;
    pad: 6.5%;
}
#sobremim .container {
    flex-direction: column;
}

#sobremim .about-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#sobremim img {
    width: 650px;
}

#sobremim .about-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 300;
}
#sobremim h1 {
    padding: 20px;
}
